{% extends 'movies/top.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-8">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Register now!
                </legend>
                <!-- {{ form }} -->
                <!-- Just form is barebones printing of form -->
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Register</button>
            </div>
        </form>
        <div class='border-top pt-3'>
            <small class="text-muted">
                Already a user? <a class="ml-2" href="{% url 'login' %}">Login here</a>
            </small>
        </div>
    </div>
{% endblock %}

